@model CardDeck
@{
    ViewData["Title"] = "Home Page";
    string hand = Poker.GetHand(Model.cards);
}

<div class="text-center">
    <h2 class="display-4">Deck Of Cards Game</h2>
</div>

<div>
    Deck ID: @Model.deck_id<br />
    Cards Remaining: @Model.remaining
</div>

<a href="/home/AddingToPiles" class="btn btn-primary">Adding To Piles</a>
<br />

<a href="/home/APartialDeck" class="btn btn-primary">Draw 1 - 12 Card Deck</a>
<br />

<a href="/home/index?deck_id=@Model.deck_id" class="btn btn-primary">Draw 7</a>
<br />

@if (Model.remaining >= 0)
{
    <a href="/home/Reshuffle/?deck_id=@Model.deck_id" class="btn btn-primary">Reshuffle Deck</a>
}
<br />

@if (Model.remaining >= 0)
{
    <a href="/home/NewDeck/?deck_id=@Model.deck_id" class="btn btn-primary">Brand New Deck</a>
}
<br />

@if (Model.remaining >= 0)
{
    <a href="/home/NewDeckWithJokers/?deck_id=@Model.deck_id" class="btn btn-primary">New Deck With Jokers</a>
}
<br />

@if (Model.remaining == 0)
{
    <a href="/" class="btn btn-primary">Start Over</a>
}
<br />


@if (hand != null)
{
    <div>Congratulations! You drew a @hand</div>
}

@foreach (Draw card in Model.cards)
{
    <img src="@card.image" />
}
